# K-Nearest Neighbours

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.model_selection import train_test_split
import seaborn as sns

In [3]:
df=pd.read_csv("FinalDataset.csv")

In [4]:
df.head()

,id,name,sex,dob,age,age_cat,race,v_type_of_assessment,v_decile_score,v_score_text,type_of_assessment,decile_score,score_text,Binary_DScore,Binary_vdscore,Race_code,Sex_Code
0,1,miguel hernandez,Male,4/18/1947,69,Greater than 45,African-American,Risk of Violence,1,Low,Risk of Recidivism,1,Low,0,0,0,0
1,2,michael ryan,Male,2/6/1985,31,25 - 45,Caucasian,Risk of Violence,2,Low,Risk of Recidivism,5,Medium,0,0,1,0
2,3,kevon dixon,Male,1/22/1982,34,25 - 45,African-American,Risk of Violence,1,Low,Risk of Recidivism,3,Low,0,0,0,0
3,4,ed philo,Male,5/14/1991,24,Less than 25,African-American,Risk of Violence,3,Low,Risk of Recidivism,4,Low,0,0,0,0
4,5,marcu brown,Male,1/21/1993,23,Less than 25,African-American,Risk of Violence,6,Medium,Risk of Recidivism,8,High,1,1,0,0

In [5]:
df=df.drop(["id","name","sex","dob","age_cat","race","v_type_of_assessment","v_decile_score","v_score_text","type_of_assessment","score_text","Binary_vdscore"], axis=1)

In [6]:
df.head()

   age  decile_score  Binary_DScore  Race_code  Sex_Code
0   69             1              0          0         0
1   31             5              0          1         0
2   34             3              0          0         0
3   24             4              0          0         0
4   23             8              1          0         0

In [7]:
X=df.drop("Binary_DScore",axis=1)
Y=df["Binary_DScore"]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.30,random_state=0)

In [9]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, Y_train)

KNeighborsClassifier()

In [10]:
Y_pred= classifier.predict(X_test)

In [11]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(Y_test, Y_pred))
print(classification_report(Y_test, Y_pred))

[[2295    0]
 [  12 1221]]
              precision    recall  f1-score   support

           0       0.99      1.00      1.00      2295
           1       1.00      0.99      1.00      1233

    accuracy                           1.00      3528
   macro avg       1.00      1.00      1.00      3528
weighted avg       1.00      1.00      1.00      3528

In [12]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_pred)

0.9965986394557823